<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>body{background: #141414;}h1,form,h3{color: wheat;}</style>
</head>
<body>
    {% block  content %}
    {% endblock %}
    <script>
        $(document).on('submit','#formsub',(e)=>{
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'sendajax/',
                data:{
                   num1: $('#num1').val(),
                   num2:$('#num2').val(),
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    alert(data); // this is currently returning FALSE
                }
            })
        })
    </script>
</body>
</html>